/* BotNav.css */

.mob-nav {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 하단에 위치 */
  left: 0;
  right: 0;
  background-color: white; /* 배경 색상 설정 */
  display: flex;
  justify-content: space-around; /* 링크들을 가로로 고르게 배치 */
  padding: 10px; /* 필요에 따라 여백 조정 */
  color: white; /* 텍스트 색상 설정 */
  z-index: 1000; /* 다른 요소 위에 표시하려면 z-index 사용 */
}
