body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #373531;
  margin-top: 180px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar1:hover {
  cursor: pointer;
}

.Hello {
  color: #CE881F;
  font-size: 36px;
  font-weight: bold;
  line-height: 110%; /* 39.6px */
  letter-spacing: 3.6px;
  text-align: center;
}

.NewAccount {
  color: #CE881F;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%; /* 22px */
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 10px;
}

.Text1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}

.Text2 {
  font-size: 13px;
  font-weight: 400;
}