<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <label for="userName">사용자 이름:</label>
        <input type="text" name="userName" required><br><br>

        <label for="userEmail">사용자 이메일:</label>
        <input type="email" name="userEmail" required><br><br>

        <label for="userPW">비밀번호:</label>
        <input type="password" name="userPW" required><br><br>

        <label for="checkPW">비밀번호 확인:</label>
        <input type="password" name="checkPW" required><br><br>

        <input type="submit" value="회원가입">
    </form>
</body>
</html>
